<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="PATCH" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="WebDAV" />
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\Python311\python.exe"
                  arguments="-m uvicorn backend.main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% --ws websockets"
                  stdoutLogEnabled="false"
                  stdoutLogFile="D:\SmartKBS\LogFiles\stdout.log"
                  startupTimeLimit="300"
                  processesPerApplication="1"
                  requestTimeout="00:15:00">
      <environmentVariables>
        <environmentVariable name="TEMP" value="D:\SmartKBS\Temp" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>