<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\Python311\python.exe" 
    arguments="-m uvicorn backend.main:app --host 0.0.0.0 --port 8086" 
    stdoutLogEnabled="false"
    stdoutLogFile="D:\SmartKBS\LogFiles\stdout.log"
    startupTimeLimit="600" processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PATH" value="%PATH%;C:\Program Files\Python311;C:\Program Files\Python311\Scripts" />
        <!-- 新增：指定临时目录和 Matplotlib 配置目录到应用本地有权限的文件夹 -->
        <environmentVariable name="TEMP" value="D:\SmartKBS\Temp" />
        <environmentVariable name="TMP" value="D:\SmartKBS\Temp" />
        <environmentVariable name="MPLCONFIGDIR" value="D:\SmartKBS\Temp\mplconfig" />
      </environmentVariables>
    </httpPlatform>
        <httpRedirect enabled="false" destination="" />
  </system.webServer>
</configuration>